.brand-logo{
    /* color: #26a69a!important; */
    animation: color-change 1s infinite;
  }
  @keyframes color-change {
    0% { color: rgba(253,187,45,1); }
    25% { color: white; }
    50% { color: #26a69a; }
    100% { color: rgba(253,187,45,1); }
  }

.logoImg{
  width: 100%;
}